@{
    var Name = "";
    var Origin = "";
    var Desc = "";
    var Role = "";
    var IconUrl = "";
    var Id = "";
    var Test = "";
    if (ViewBag.Modif == true)
    {
        ViewData["Title"] = "Modif Personnage";
        Name = ViewBag.Name;
        Origin = ViewBag.Country;
        Role = ViewBag.Role;
        Desc = ViewBag.Description;
        IconUrl = ViewBag.IconUrl;
        Id = ViewBag.Id;
    }
    else
    {
        ViewData["Title"] = "Ajout Personnage";
    }
}
<h1 style="color: white;">@ViewData["Title"]</h1>

@if (ViewBag.Modif == true)
{
    Test = "PutPerso";
}
else
{
    Test = "AjoutPerso";
}
<form asp-controller="Home" asp-action="@Test" method="post">
    <div>
        <input type="hidden" asp-for="@Id" />
        <h3 style="color: white;">Nom :</h3>
        <input asp-for="@Name" />
        <h3 style="color: white;">Pays d'origine :</h3>
        <input asp-for="@Origin" />
        <h3 style="color: white;">Description :</h3>
        <input asp-for="@Desc" />
        <h3 style="color: white;">Role :</h3>
        <input asp-for="@Role" />
        <h3 style="color: white;">Image Url :</h3>
        <input asp-for="@IconUrl" />
    </div>
    @if (ViewBag.Modif == true)
    {
        <button type="submit">Modifier</button>
    }
    else
    {
        <button type="submit">Ajouter</button>
    }
</form>

@if (ViewBag.Erreur != null)
{
    <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Erreur")
                    };
    </script>
}
