@{
    var Name = "";
    var Category = "";
    var Cost = "";
    var Id = "";
    var Description = "";
    var WeaponUrl = "";
    var Test = "";
    if (ViewBag.Modif == true)
    {
        ViewData["Title"] = "Modif Arme";
        Name = ViewBag.Name;
        Category = ViewBag.Category;
        Cost = ViewBag.Cost;
        Description = ViewBag.Description;
        WeaponUrl = ViewBag.WeaponUrl;
        Id = ViewBag.Id;
    }
    else
    {
        ViewData["Title"] = "Ajout Arme";
    }


}
<h1 style="color: white;">@ViewData["Title"]</h1>

@if (ViewBag.Modif == true)
{
    Test = "PutArme";
}
else
{
    Test = "AjoutArme";
}
<form asp-controller="Home" asp-action="@Test" method="post">
    <div>
        <input type="hidden" asp-for="@Id" />
        <h3 style="color: white;">Nom :</h3>
        <input asp-for="@Name" />
        <h3 style="color: white;">Categorie :</h3>
        <input asp-for="@Category" />
        <h3 style="color: white;">Description :</h3>
        <input asp-for="@Description" />
        <h3 style="color: white;">Cout :</h3>
        <input asp-for="@Cost" />
        <h3 style="color: white;">Url image :</h3>
        <input asp-for="@WeaponUrl" />
    </div>
    @if (ViewBag.Modif == true)
    {
        <button type="submit">Modifier</button>
    }
    else
    {
        <button type="submit">Ajouter</button>
    }
</form>

@if (ViewBag.Erreur != null)
{
    <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Erreur")
                    };
    </script>
}
