<div class="w-50 pt-3 pb-2 mb-5 mx-auto text-center text-light">
      <h1 class='pb-2 shadow-title'> <span class="text-danger font-weight-bold">VALORANT</span> Fiche Agents et des Maps</h1>
      <p class="shadow-title">Utilisez ce site Web pour en savoir plus sur les agents et les maps de Valorant.</p>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" id="btn-classes" class="btn btn-dark shadow">Toutes les Classes</button>
    <button type="button" id="btn-initiator" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Initiateur"><img width="16px" src="agents/initiator.svg"></button>
    <button type="button" id="btn-controller" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Contrôleur"><img src="agents/controller.svg"></button>
    <button type="button" id="btn-sentinel" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Sentinelle"><img src="agents/sentinel.svg"></button>
    <button type="button" id="btn-duelist" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Duelliste"><img src="agents/duelist.svg"></button>
  </div>

  
  <div class="container mt-2 pt-3 px-5 ">
    <div class="row justify-content-around pb-5 px-5">
        @foreach (var personnage in ViewBag.Persos)
       {
           <div class="col-xl-2 mb-3 text-center border-bottom border-breach border-3 shadow-lg char-zoom rounded initiator">
                <a asp-controller="Home" asp-action="Personnage" asp-route-id="@personnage.Id"> <img class="" height="200px" src="@personnage.PicUrl" alt="@personnage.Name"> </a>
           </div>
       }
     </div>
    <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" id="btn-map" class="btn btn-dark shadow">Toutes les Maps</button>
    </div>
    <div class="row justify-content-around pb-5 px-5">
        @foreach (var map in ViewBag.Maps)
       {
           <div class="col-xl-2 mb-3 text-center border-bottom border-breach border-3 shadow-lg char-zoom rounded initiator">
                <a asp-controller="Home" asp-action="Map" asp-route-id="@map.Id"> <img class="" width="200px" height="113px"  src="@map.MapUrl" alt="@map.Name"> </a>
           </div>
       }
     </div>
     <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" id="btn-map" class="btn btn-dark shadow">Toutes les Armes</button>
    </div>
     <div class="row justify-content-around pb-5 px-5">
        @foreach (var weapon in ViewBag.Weapons)
       {
           <div class="col-xl-2 mb-3 text-center border-bottom border-breach border-3 shadow-lg char-zoom rounded initiator">
                <a asp-controller="Home" asp-action="Weapon" asp-route-id="@weapon.Id"> <img class="" width="130px" height="86px" src="@weapon.WeaponUrl" alt="@weapon.Name"> </a>
           </div>
       }
     </div>
  </div>