
<div class="w-50 pt-2 pb-5 mx-auto text-center text-light">
	<h1 class='shadow-title'><span class="text-danger text-size-5">NO.@ViewBag.Perso.Id //</span><span class="text-breach font-weight-bold"> @ViewBag.Perso.Name </span></h1> <!-- BREACH -->
	<!--<div class=""><small>“Off your feet!”</small></div>-->
</div>

<div class="row justify-content-around text-light">
	<div class="col-lg-4">
		<div class="card border border-breach bg-darkest mb-4 shadow-lg">
			<img src="../../@ViewBag.Perso.PicUrl" class="card-img-top" alt=""> <!-- agents/breach_m.png -->
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-darkest">
					<div class="row">
						<div class="col-lg-5"><strong> Nom Réel </strong></div>
						<div class="col-lg-7"> @ViewBag.Perso.Name </div>
					</div>
				</li>
				<li class="list-group-item bg-darkest border-top border-bottom border-breach">
					<div class="row">
						<div class="col-lg-5"><strong> Originaire </strong></div>
						<div class="col-lg-7"> @ViewBag.Perso.Country </div>
					</div>
				</li>
				<!--
					<li class="list-group-item bg-darkest border-bottom border-breach">
						<div class="row">
							<div class="col-lg-5"><strong>Affi </strong></div>
							<div class="col-lg-7"> Valorant Protocol </div>
						</div>
					</li>
				-->
				<li class="list-group-item bg-darkest">
					<div class="badge badge-danger"> <img height="10px" style="vertical-align: top" src="">  </div> <!-- agents/initiator.svg -->  <!-- Initiator -->
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="card text-white bg-darkest mb-4 border border-breach shadow-lg">
					<strong id="bio-toggle" class="card-header border-bottom border-breach"> <svg class="bi bi-chevron-right" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" /></svg>Biographie </strong>
					<div class="card-body show">
						<p class="card-text mt-4 mb-2">
							@ViewBag.Perso.Description
						</p>
					</div>
				</div>
			</div>
			<div class="w-100">
				<div class="col-lg-12">
					<div class="card text-white bg-darkest mb-3 border border-breach shadow-lg">
						<strong id="abilities-toggle" class="card-header border-bottom border-breach"> <svg class="bi bi-chevron-right" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" /></svg> Compétences </strong>
						<div class="card-body text-center show">
							<div class="btn-toolbar btn-toolbar-sm mt-3 d-inline-block" role="group" aria-label="Basic example">
								<button id="a1-btn" type="button" class="btn btn-dark btn-zoom mb-3 mx-3 shadow"><img height="64px" src=""></button> <!-- agents/breach_1.png -->
								<button id="a2-btn" type="button" class="btn btn-dark btn-zoom mb-3 mx-3 shadow"><img height="64px" src=""></button> <!-- agents/breach_2.png -->
								<button id="a3-btn" type="button" class="btn btn-dark btn-zoom mb-3 mx-3 shadow"><img height="64px" src=""></button> <!-- agents/breach_3.png -->
								<button id="a4-btn" type="button" class="btn btn-dark btn-zoom mb-3 mx-3 shadow"><img height="64px" src="../../@ViewBag.Perso.Ult.IconUrl"></button> <!-- agents/breach_4.png -->
							</div>
							<div id="a1" class="no-display">
								@*@foreach (var ability in @ViewBag.Perso.Abilities)
								   {
									<h3 class="text-breach shadow-title"> <strong>@ability.Name</strong> </h3>
									<div class="mb-3">
										@ability.Description
									</div>
									<div class="text-left ml-2 mb-4">
										<div class="badge badge-danger">Domage : @ability.Damages </div> <!-- Damage: N/A -->
										<div class="badge badge-success">Durée de la compétence : @ability.Cooldown </div> <!-- Duration: 1-2s Flash Duration, 0.5s Flash Delay -->
										<div class="badge badge-light">Durée de rechargement : @ability.Duration </div>
										<div class="badge badge-primary">Coût : @ability.Cost </div> <!-- Cost: 200 -->
										<div class="badge badge-secondary">Distance : @ability.Range </div> <!-- HP: N/A -->
									</div>
									<div class="embed-responsive embed-responsive-16by9">
										<video id="a4-v" class="embed-responsive-item" autoplay loop muted><source src="" type="video/mp4" /></video> <!-- agents/breach_3_v.mp4 -->
									</div>
								   }*@						
							</div>
							<div id="a4" class="no-display">  
									<h3 class="text-breach shadow-title"> <strong>@ViewBag.Perso.Ult.Name</strong> </h3>
									<div class="mb-3">
										@ViewBag.Perso.Ult.Description
									</div>
									<div class="text-left ml-2 mb-4">
										<div class="badge badge-danger">Orbs : @ViewBag.Perso.Ult.Orbs </div> <!-- Damage: N/A -->
									</div>
									<div class="embed-responsive embed-responsive-16by9">
										<video id="a4-v" class="embed-responsive-item" autoplay loop muted><source src="" type="video/mp4" /></video> <!-- agents/breach_3_v.mp4 -->
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>